.root{
    -fx-background-color: rgb(231, 228, 228);
}

Button{
    -fx-background-color: green;
    -fx-padding: 10px;
    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 2px;
    -fx-border-color: blueviolet;
}

Button:hover{
    -fx-background-color: blue;
    -fx-border-color: red;
    -fx-border-radius: 10 10 10 10;
    -fx-padding: 10px;
    -fx-border-width: 2px;
}